{% extends "index_t.html" %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/">Home</a></li>
                    <li role="presentation"><a href="project">Project</a></li>
                    <li role="presentation"><a href="login">Log in</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Project name</h3>
        </div>
        {% if warningMessage %}
                <div class="alert alert-warning" role="alert">{{ warningMessage }}</div>
        {% endif %}
        <div class="jumbotron">
            <h1>Jumbotron heading</h1>

            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

            <p><a class="btn btn-lg btn-success" href="register" role="button">Sign up today</a></p>
        </div>

        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>

    </div> <!-- /container -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
{% endblock %}